{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <section class="main__content">
        {% if request.user.is_authenticated %}
            {% include 'mainapp/index_state/index_authenticated.html' %}
        {% else %}
            {% include 'mainapp/index_state/index_not_authenticated.html' %}
        {% endif %}
    </section>
{% endblock content %}

{% block scripts %}
    <script>const url_template_translation = "{% url 'templatetranslation:get_translate' request.resolver_match.url_name %}";</script>
    {% if not request.user.is_authenticated %}
        <script>const url_signup = "{% url 'signup' %}";</script>
        <script>const url_login = "{% url 'login' %}";</script>
        <script src="{% static 'js/forms-func.js' %}" async></script>
    {% else %}
        <script src="{% static 'js/add-kit.js' %}" async></script>
        {% if kits %}
            <script>const url_editKit = "{% url 'kit:edit_kits' %}";</script>
            <script>const url_deleteKit = "{% url 'kit:delete_kits' %}";</script>
            <script src="{% static 'js/edit-kits.js' %}" defer></script>
            <script src="{% static 'js/delete-kits.js' %}" defer></script>
        {% endif %}
    {% endif %}
{% endblock scripts %}