:root {
    --thumb-space: 35px;
    --header--height: 60px;
    --header--bg-color: #8362d6;
    --header--b-shadow: 0 2px 10px #09097b;
    --dropdown-menu: #6c51b1;
    --dropdown-menu--active: #3f2f67;
    --footer--height: 40px;
    --footer--bg-color: #6e5b9e;
    --footer--b-shadow: 0 -2px 10px #060694;
    --nav--color: #ffe3bf;
    --dialog__title--bg-color: #d6b262;
    --dialog__title--color: #655c33;
}

::selection {
    --selection--color: cornsilk;
    --selection--bg_color: goldenrod;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--selection--color);
    background-color: var(--selection--bg_color);
}

html {
	font-size: 62.5%
}

body {
    display: grid;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: var(--header--height) 1fr var(--footer--height);
    position: relative;
}

body.modal-open {
    overflow: hidden;
}

p {
	font-size: 1.6rem
}

a {
    text-decoration: none;
    color: var(--nav--color);
}

li {
    list-style: none;
    color: var(--nav--color);
}


/* HEADER */

header {
    background-color: var(--header--bg-color);
    box-shadow: var(--header--b-shadow);
    height: var(--header--height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

header .randomize-button__content,
header .home__content,
header .add-button__content,
header .sidebar-button__content,
header .burger-button__content,
header .gadgets__content {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .home__content {
    margin-right: auto;
}

header .home__content > a,
header .randomize-button__content > button,
header .add-button__content > button,
header .sidebar-button__content > button,
header .burger-button__content > button,
header .gadgets__content > button {
    font-size: calc(var(--header--height) * .6);
    background-color: transparent;
    color: var(--nav--color);
    border: none;
}

header .randomize-button__content:active,
header .home__content:active,
header .add-button__content:active,
header .sidebar-button__content--show,
header .burger-button__content--show {
    background-color: var(--dropdown-menu);
}

header .home__content:active {
    -webkit-tap-highlight-color: transparent;
}


header .gadgets__content .lang-option__text {
    position: absolute;
    display: block;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: bolder;
    bottom: 5px;
    left: calc(50% - 26px);
    background: transparent;
    color: var(--nav--color);
    border: 1px solid var(--nav--color);
    border-radius: 5px;
    padding: 2px;
}

header .gadgets__content .lang-option__text:last-child {
    left: auto;
    right: calc(50% - 26px);
}

header .gadgets__content .lang-option__text.lang-option__text--selected {
    background-color: var(--nav--color);
    color: var(--header--bg-color);
}

#sidebar__menu,
header #principal__menu {
    display: none;
    position: fixed;
    top: var(--header--height);
    width: 100%;
    height: 100vh;
    bottom: 0;
    background-color: var(--dropdown-menu);
    scroll-behavior: smooth;
}

#sidebar__menu {
    z-index: 3;
}

#sidebar__menu ul,
header #principal__menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#sidebar__menu ul li,
header #principal__menu ul li {
    width: calc(100% - var(--thumb-space));
    margin-right: var(--thumb-space);
    font-size: 4rem;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#sidebar__menu ul li {
    font-size: 3.5rem;
}

#sidebar__menu ul li button,
header #principal__menu ul li button {
    background: transparent;
    width: 100%;
    height: 100%;
    text-align: left;
    border: none;
    color: var(--nav-color);
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    user-select: none;
}

#sidebar__menu ul li button {
    font-size: 3.5rem;
}


header #principal__menu ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

#sidebar__menu ul li:active,
header #principal__menu ul li:active {
    background-color: var(--dropdown-menu--active);
}

/* HEADER MENU SUBMENU */
header #principal__menu .kit-navbar__li,
header #principal__menu .user-navbar__li {
    background: linear-gradient(45deg, #947c04, #b8461a);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: fit-content;
    margin-left: 20px;
    word-break: break-all;
    user-select: none;
    position: absolute;
    top: 70px;
}

header #principal__menu .kit-navbar__li {
    background: linear-gradient(45deg, #210494, #b8461a);
    top: 230px;
}

header #principal__menu .kit-navbar__li:active,
header #principal__menu .user-navbar__li:active {
    background: linear-gradient(-45deg, #b8461a, #947c04);
    filter: brightness(1.2);
}

header #principal__menu .kit-navbar__li:active {
    background: linear-gradient(-45deg, #b8461a, #210494);
}

header #principal__menu .kit-navbar__li .kit-navbar__li--options,
header #principal__menu .user-navbar__li .user-navbar__li--options {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 20px;
    font-size: inherit;
    width: max-content;
    height: fit-content;
}

header #principal__menu .kit-navbar__li .kit-navbar__li--options {
    width: calc(100vw - 40px - var(--thumb-space));
    overflow: auto;
    max-height: 200px;
}

header #principal__menu .kit-navbar__li .kit-navbar__li--options.visible,
header #principal__menu .user-navbar__li .user-navbar__li--options.visible {
    display: block;
}

header #principal__menu .kit-navbar__li .kit-navbar__li--options.visible > .kit__li,
header #principal__menu .user-navbar__li .user-navbar__li--options.visible > .logout__li {
    font-size: .7em;
    word-break: normal;
    margin-right: 0;
    width: max-content;
    background-color: #2f176b;
    padding: 10px;
}

header #principal__menu .kit-navbar__li .kit-navbar__li--options.visible > .kit__li {
    width: 100%;
}

header #principal__menu .kit-navbar__li .kit-navbar__li--options.visible > .kit__li a {
    word-break: break-all;
}

header #principal__menu .kit-navbar__li .kit-navbar__li--options.visible > .kit__li:not(:last-child),
header #principal__menu .user-navbar__li .user-navbar__li--options.visible > .logout__li:not(:last-child) {
    border-bottom: 3px solid #4e4d7b;
}


/* MAIN */

main {
    background-color: cornsilk;
    height: 100%;
}

main .main__content {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main__content.main__content__kit {
    display: block;
}

main .main__content .main__content__call-to-action {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__content__call-to-action button {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    border: none;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(45deg, #5f3f07, #c19f70);
    color: white;
    transition: .3s all ease;
}

.main__content__call-to-action button:active {
    filter: brightness(1.1);
    transform: scale(.9);
    background: linear-gradient(-45deg, #c19f70, #5f3f07);;
}

.main__content__call-to-action button.logIn__button--show-dialog {
    background: linear-gradient(45deg, #074b5f, #70c1bf);
    color: white;
}

.main__content__call-to-action button.logIn__button--show-dialog:active {
    background: linear-gradient(45deg, #70c1bf, #074b5f);
}

/* MAIN POST LOGIN */
.main__content__kits {
    row-gap: 30px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    height: 100%;
    place-content: center;
}

.main__content__kits.action-button-space {
    height: 80%;
    margin-top: 70px;
}

.kit__principal-button--add {
    border-radius: 50%;
    border: none;
    width: 50vw;
    height: 50vw;
    background: radial-gradient(#00a7f7, #1b3131);
    font-size: 40vW;
    font-weight: bold;
    font-family: Arial;
    color: #0a2d3e;
    margin: 0 auto;
}

.kit__principal-button--add:active {
    transform: scale(.9);
    filter: brightness(1.2);
}

.kit__content {
    aspect-ratio: 2/3;
    border: 6px dotted #8e7a2c;
    border-radius: 75px;
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "footer";
    grid-template-rows: 1fr 4fr 1fr;
    contain: content;
}

.kit__content .kit__content__name {
    grid-area: head;
}

.kit__content .kit__content__img {
    grid-area: main;
}

.kit__content .kit__content__languages {
    grid-area: footer;
}

.kit__content .kit__content__languages,
.kit__content .kit__content__name {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior: contain;
    text-align: center;
    background-color: #decf94;
    color: #804949;
}

.kit__content .kit__content__languages span,
.kit__content .kit__content__name h3 {
    width: 100%;
    white-space: nowrap;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    overflow-x: auto;
    padding-left: .5em;
    padding-right: .5em;
}

.kit__content .kit__content__img{
    background-color: #fff0b4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.kit__content .kit__content__img img {
    max-width: 80%;
    border: 7px solid #a79d75;
}

.kit__content .kit__content__languages span {
    font-size: 2.6rem;
    font-weight: normal;
}

.enter-kit {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    padding: 10px;
    border-radius: 10px 0 0 0;
    background: linear-gradient(
25deg
, #947c1e, #dfd6b0);
    user-select: none;
}

.enter-kit:active {
    -webkit-tap-highlight-color: transparent;
    filter: brightness(1.2);
    background: linear-gradient(
        211deg
        , #947c1e, #dfd6b0);
}

/* MAIN KIT */
.main__content__kit .kit__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-break: break-all;
    row-gap: 10px;
    color: slategrey;
}

.main__content__kit .kit__info span {
    text-align: center;
}

.main__content__kit .kit__info .kit__info__progress {
    word-break: normal;
    white-space: break-spaces;
}

.main__content__kit .kit-empty {
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: brown;
    margin: 0 auto;
    top: 50%;
    text-align: center;
    margin-top: 100px;
}


/* MAIN CARDS CONTENT */
.main__content__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 30px;
    column-gap: 20px;
    margin-top: 35px;
}

.main__content__cards .card__content {
    aspect-ratio: 2/3;
    border: 6px solid black;
    border-radius: 75px;
    display: grid;
    grid-template-areas:
        "foreign_word"
        "principal_img"
        "score"
        "input_native_word";
    grid-template-rows: 1fr 2fr 1fr 1fr;
    contain: content;
    background-color: lightblue;
}

.main__content__cards .card__content .card__content__foreign-word {
    grid-area: foreign_word;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-color: #9498de;
    color: #494b80;
    border-bottom: 4px solid black;
    user-select: none;
}

.main__content__cards .card__content .card__content__foreign-word h3 {
    width: 100%;
    white-space: nowrap;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    overflow-x: auto;
    padding-left: .5em;
    padding-right: .5em;
}

.main__content__cards .card__content .card__content__foreign-word button {
    height: 100%;
    border-radius: 0 25px 0 0;
    background: linear-gradient(
340deg
, #5559a0, #9498de);
    color: antiquewhite;
    font-size: 4rem;
    text-align: left;
    padding-left: .3em;
    border: none;
    border-left: 3px solid black;
}

.main__content__cards .card__content .card__content__foreign-word button:active {
    background: linear-gradient(
        175deg
        , #5559a0, #9498de);
    filter: brightness(1.2);
}

.main__content__cards .card__content__img {
    grid-area: principal_img;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__content__cards .card__content__img img {
    max-width: 60%;
    border: 7px solid #393d80;
    
}

.main__content__cards .card__content__img .card--renew-img {
    position: absolute;
    right: 0;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 25px 0 0 25px;
    border: 3px solid black;
    border-right: 0;
    background: linear-gradient(
45deg
, #5559a0, #9498de);
    color: #30315a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content__cards .card__content__img .card--renew-img > span {
    font-size: 3rem;
    font-weight: bold;
}

.main__content__cards .card__content__img .card--renew-img:active {
    filter: brightness(1.2);
    background: linear-gradient(
        170deg
        , #5559a0, #9498de);
}

.main__content__cards .card__content__img .card--renew-img:active > span {
    animation-name: spin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.main__content__cards .card__content__img .card__state {
    position: absolute;
    left: 3%;
    width: fit-content;
    aspect-ratio: 1/1;
    font-size: 3rem;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5559a0;
    color: #9dbad9;
    border-radius: 50%;
    border: 3px solid #9dbad9;
}

.main__content__cards .card__content__img .card__state.success,
.main__content__cards .card__content__img .card__state.fail {
    background-color: black;
    border-color: black;
}


.main__content__cards .card__content__img .card__state.success {
    color: lightgreen;
}

.main__content__cards .card__content__img .card__state.fail {
    color: #ea3f3f;
}

.main__content__cards .card__content .card__content__score {
    grid-area: score;
    background-color: #9498de;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 4px solid black;
}

.main__content__cards .card__content .card__content__score .card__content__score--mistakes,
.main__content__cards .card__content .card__content__score .card__content__score--hits {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.main__content__cards .card__content .card__content__score .card__content__score--hits .card__content__score--hits-text,
.main__content__cards .card__content .card__content__score .card__content__score--mistakes .card__content__score--mistakes-text {
    background-color: #5559a0;
    border-bottom: 2px solid black;
    color: #c7c9f1;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.main__content__cards .card__content .card__content__score .card__content__score--hits .card__content__score--hits-value,
.main__content__cards .card__content .card__content__score .card__content__score--hits .card__content__score--hits-text {
    border-right: 2px solid black;
}

.main__content__cards .card__content .card__content__score .card__content__score--hits .card__content__score--hits-value,
.main__content__cards .card__content .card__content__score .card__content__score--mistakes .card__content__score--mistakes-value {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow-x: auto;
}

.main__content__cards .card__content .card__content__score .card__content__score--hits .card__content__score--hits-value span,
.main__content__cards .card__content .card__content__score .card__content__score--mistakes .card__content__score--mistakes-value span {
    margin: auto;
}

.main__content__cards .card__content .card__content__check {
    grid-area: input_native_word;
    border-top: 4px solid black;
}

.main__content__cards .card__content .card__content__check .form__validate-word {
    display: grid;
    grid-template-columns: 8fr 3fr;
    height: 100%;
}

.main__content__cards .card__content .card__content__check .form__validate-word input {
    padding-left: 1em;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff5cd;
    color: #734040;
    width: 100%;
}

.main__content__cards .card__content .card__content__check .form__validate-word button {
    font-size: 5rem;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: .1em;
    background-color: #5559a0;
    color: #d8d9f1;
    border: none;
}

.main__content__cards .card__content .card__content__check .form__validate-word button:active {
    filter: brightness(1.2);
}


/* EDIT KIT */
.kit__content .kit__content__name h3.kit-value--editable,
.kit__content .kit__content__languages span.kit-value--editable {
    background-color: #008200;
    color: antiquewhite;
}

.kit__content .kit__content__name h3.kit-value--editable:focus,
.kit__content .kit__content__languages span.kit-value--editable:focus {
    filter: brightness(1.2);
    outline: 2px solid orangered;
}

.kit__button--delete,
.kit__button--edit {
    position: fixed;
    top: calc(var(--header--height) + 25px);
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 6px 15px;
    width: fit-content;
    border: none;
    border-radius: 25px;
    background: #98fb98a3;
    color: #395251;
    z-index: 1;
}

.kit__button--delete.visible,
.kit__button--edit.visible {
    display: block;
}

.kit__button--delete.visible:active,
.kit__button--edit.visible:active {
    transform: scale(.9);
    filter: brightness(.8);
}

/* DELETE KIT */
.kit__item--delete-content {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    background: indianred;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

.kit__item--delete-content.visible {
    display: flex;
}

.kit__button--delete {
    background: #f30202a3;
    color: #3c2828;
}

/* KIT PAGINATION */
.kit__pagination {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 30px auto;
}

.kit__pagination a {
    border: 2px solid #777;
    border-radius: 15px;
    color: #777;
    padding: 8px 0;
    aspect-ratio: 1/1;
    transition: background-color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}

.kit__pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}
  
.kit__pagination a:hover:not(.active) {
    background-color: #ddd;
}

.kit__pagination .kit__pagination--prev-page {
    order: -1;
}

.kit__pagination .kit__pagination--next-page {
    order: 1;
}

.kit__pagination--input-page {
    margin-top: 30px;
}

.kit__pagination--input-page span {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #555;
}

.kit__pagination--input-page input {
    border: 1px solid slategray;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    width: 60px;
}



/* FOOTER */

footer {
    background-color: var(--footer--bg-color);
    box-shadow: var(--footer--b-shadow);
    height: var(--footer--height);
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: space-around;
}

footer .footer-menu__options {
    display: flex;
    justify-content: space-evenly;
}

footer .footer-menu__options button {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: transparent;
    color: var(--nav--color);
    border: none;
    user-select: none;
}

footer .footer-menu__options button:active {
    transform: scale(.9);
    filter: brightness(1.5);
}

footer time {
    font-size: 2.4rem;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    color: var(--nav--color);
    filter: drop-shadow(2px 4px 8px #060694);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* DIALOG */

dialog {
    width: 90%;
    height: 80%;
    margin: auto;
    border: none;
    background: none;
    overflow: hidden;
}

dialog::backdrop {
    background-color: #5524d279;
}

dialog .modal__content {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: cornsilk;
    padding: 28px;
    padding-top: 40px;
    padding-right: var(--thumb-space);
    border-radius: 25px;
}

dialog .modal__content__title {
    background: var(--dialog__title--bg-color);
    font-size: 8vw;
    color: var(--dialog__title--color);
    padding: 7px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 18px;
}

dialog .modal__content__description {
    padding: 10px;
    padding-top: 2px;
    font-size: 2.6rem;
    height: 85%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

dialog .modal__content__description h3 {
    font-size: 1.1em;
    font-family: monospace;
    margin-bottom: 10px;
    margin-top: 15px;
}

dialog .modal__content__description h3:first-child {
    margin-top: 0;
}

dialog .modal__content__description a {
    word-break: break-all;
    color: #0c5d96;
    font-size: .8em;
}

dialog .modal__content__description .email--contact {
    margin-top: 20px;
    display: block;
    font-size: .6em;
    word-break: break-all;
}

dialog .modal__button--close {
    position: absolute;
    right: 15px;
    top: 12px;
    background-color: #fb7810;
    color: #772e2e;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* DIALOG LOGIN */

.addKit__modal .modal__content__description #form__addKit,
dialog .modal__content__description #form__signup,
dialog .modal__content__description #form__login {
    height: 80%;
    border: 5px solid rgb(127, 85, 69);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 15px;
    background-color: #d594287a;
    overflow: auto;
}

dialog .modal__content__description #form__login:focus-within {
    background: linear-gradient(45deg, #2c2c60, #3838ff);
    border-color: rgb(69 96 127);
}

.addKit__modal .modal__content__description #form__addKit:focus-within {
    background: linear-gradient(45deg, #8787cf, #151581);
    border-color: rgb(33, 46, 61);
}

dialog .modal__content__description #form__signup:focus-within {
    background: linear-gradient(45deg, #2c604c, #7aff38);
    border-color: rgb(77, 110, 101);
}

dialog .modal__content__description #form__signup:focus-within label {
    color: #eee;
}

dialog .modal__content__description #form__login:focus-within label {
    color: #ddd;
}

dialog .modal__content__description #form__addKit:focus-within label {
    color: #ccc;
}

dialog .modal__content__description #form__addKit .field__group,
dialog .modal__content__description #form__signup .field__group,
dialog .modal__content__description #form__login .field__group{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

dialog .modal__content__description #form__addKit label,
dialog .modal__content__description #form__signup label,
dialog .modal__content__description #form__login label {
    font-size: 2.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(127, 85, 69);
}

dialog .modal__content__description #form__addKit input,
dialog .modal__content__description #form__signup input,
dialog .modal__content__description #form__login input {
    border-radius: 25px;
    border: none;
    width: 100%;
    height: 3rem;
    font-size: 1.8rem;
    padding-left: 1em;
}

dialog .modal__content__description #form__addKit input:focus,
dialog .modal__content__description #form__signup input:focus,
dialog .modal__content__description #form__login input:focus {
    outline: none;
    border: 3px solid #0cebd2;
}

dialog .modal__content__description #form__signup input:focus {
    border-color: #036724;
}

dialog .modal__content__description .button__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog.signUp__modal .modal__content__description .button__container {
    margin-top: 33px;
}

dialog .modal__content__description .button__container button {
    font-size: 2.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #2c2c60, #3838ff);
    color: white;
    user-select: none;
    transition: .3s all ease;
}

dialog.signUp__modal .modal__content__description .button__container button {
    background: linear-gradient(45deg, #2c604c, #7aff38);
}

dialog .modal__content__description .button__container button:active {
    background: linear-gradient(-45deg, #3838ff, #2c2c60);
    filter: brightness(1.1);
    transform: scale(.9);
}

dialog.signUp__modal .modal__content__description .button__container button:active {
    background: linear-gradient(-45deg, #2c604c, #7aff38);
}

dialog .modal__content__description .form__error-box {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: #ec4000;
    color: #ffebeb;
    display: none;
    transition: .7s all ease;
}

dialog .modal__content__description .form__error-box.visible {
    display: block;
    overflow: auto;
    min-height: 30%;
}

dialog .modal__content__description .form__error-box.visible > .errorlist {
    padding-top: 10px;
}

dialog .modal__content__description .form__error-box.visible > .errorlist li {
    padding-left: 1em;
}

dialog .modal__content__description .form__error-box.visible > .errorlist > li {
    margin-bottom: 15px;
}

dialog .modal__content__description .form__error-box.visible > .errorlist > li .title__error {
    background: #960d03;
    padding: 5px;
    border-radius: 15px;
    display: block;
    text-align: center;
}


dialog .modal__content__description .form__error-box.visible > .errorlist li > .errorlist {
    /* padding-left: 1em; */
    /* list-style: square; */
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dialog .modal__content__description .form__error-box.visible > .errorlist li > .errorlist li {
    list-style: disc;
}

dialog .modal__content__description p {
    font-size: 2.2rem;
}

dialog .modal__content__description h4 {
    font-size: 2rem;
}

dialog .modal__content__description ul {
    color: black;
    margin-left: 1em;
}

dialog .modal__content__description ul li {
    color: black;
    font-size: 2rem;
    list-style: square;
    display: list-item;
}

/* ADD KIT */
.addKit__modal .modal__content__description .addKit__requirements {
    height: 30%;
}

.addKit__modal .modal__content__description .addKit__requirements ul {
    overflow: auto;
    overscroll-behavior: contain;
    height: 70%;
    background: #b5b1a2;
    border-radius: 25px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-left: 0;
}

.addKit__modal .modal__content__description .addKit__requirements ul li {
    margin-left: 1.2em;
}

.addKit__modal .modal__content__description #form__addKit input[type="file"] {
    display: none;
}

.addKit__modal .modal__content__description  .addKit__final-button {
    width: fit-content;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #00a7f7, #1b3131);
    color: #e0f2f9;
}

.addKit__modal .modal__content__description  .addKit__final-button:active {
    transform: scale(.9);
    filter: brightness(1.2);
    background: linear-gradient(45deg, #1b3131, #00a7f7);
}

/* POP-UP */
.popup__message {
    position: fixed;
    top: 50%;
    text-align: center;
    background: white;
    color: black;
    width: 100%;
    padding: 10px 0;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: popup__rising 3s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

.popup__message .popup__span {
    font-weight: bold;
}

.popup__message.success-level {
    background-color: rgba(36, 168, 3, 0.615);
    color: #296d06;
}

.popup__message.info-level {
    background-color: rgba(3, 102, 168, 0.615);
    color: #211b80;
}

.popup__message.warning-level {
    background-color: rgba(168, 141, 3, 0.615);
    color: #6f6709;
}

.popup__message.error-level{
    background-color: rgba(168, 72, 3, 0.615);
    color: #631e17;
}

@keyframes popup__rising {
    0% {
        top: 50%;
    }
    80% {
        opacity: .5;
    }
    90% {
        opacity: .2;
    }
    100% {
        top: -200px;
        display: none;
    }
}