<section class="main__content__call-to-action">
    <button class="guests__button">
       <span class="icon-user-tie"></span> Invitados
    </button>
    <button class="logIn__button--show-dialog dialog__button">
        <span class="icon-enter"></span>  Iniciar Sesión
    </button>
</section>
<form style="display: none;" id="form__guests" action="" method="post">
    <input type="text" name="username" id="id_username-guests" value="Invitados">
    <input type="password" name="password" id="id_password-guests" value="contraseña_invitados">
</form>