{% extends 'layouts/layout.html' %}

{% block title %}
    500 | Error en el servidor
{% endblock title %}

{% block content %}
<div style="
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
">
    <p style="
        font-size: xxx-large;
        font-weight: bolder;
        text-align: center;
        color: coral;
    ">
        Error 500: La petición al servidor ha fallado, intentelo más tarde o contactese con nosotros para arreglar el problema
        <a style="background: white;" href="/">Volver al Inicio</a>
    </p>
</div>
{% endblock content %}