<dialog class="modal contactMe__modal">
    <button class="modal__button--close">
        X
    </button>
    <section class="modal__content">
        <section class="modal__content__title">
            Contacto
        </section>
        <section class="modal__content__description">
            <h3>Puedes ver mis proyectos en desarrollo aquí:</h3>
            <a href="https://github.com/carlosmperilla" target="_black">https://github.com/carlosmperilla</a>

            <h3>Repositorio de este proyecto:</h3>
            <a href="https://github.com/carlosmperilla/Learning-Cards" target="_black">https://github.com/carlosmperilla/Learning-Cards</a>
   
            <span class="email--contact">
                <strong>Correo: </strong>carlosperillaprogramacion@gmail.com
            </span>
        </section>
    </section>
</dialog>