<dialog class="modal howToUse__modal">
    <button class="modal__button--close">
        X
    </button>
    <section class="modal__content">
        <section class="modal__content__title">
            ¿Cómo usar?
        </section>
        <section class="modal__content__description">
            <details class="howToUse--explore-guest">
                <summary>
                    <h3>Explorar sin registro (invitados)</h3>
                </summary>
                <p>Presionando el <strong>Botón Invitados</strong>, puede iniciar sesión sin registro previo.</p>
                <p>Tenga en cuenta que <strong>no se pueden añadir, editar, ni eliminar</strong> kits de aprendizajes.</p>
                <p><strong>Sí, se pueden probar las tarjetas de aprendizaje</strong>, de los kits disponibles.</p>
            </details>
            <details class="howToUse--kit-learning">
                <summary>
                    <h3>¿Qué es un kit de aprendizaje?</h3>
                </summary>
                <p>Es un conjunto de <strong>flash-card</strong> o tarjetas de aprendizaje.</p>
                <p>Junto con indicativos de progreso.</p>
            </details>
            <details class="howToUse--card-learning">
                <summary>
                    <h3>¿Qué es una tarjeta de aprendizaje?</h3>
                </summary>
                <p>Es una tarjeta dinámica.</p>
                <p>Con la palabra en el <strong>idioma a aprender.</strong></p>
                <p>Una imagen referencial, renovable.</p> 
                <p>Un panel de texto para probar si la palabra es correcta, ingresando la palabra en el <strong>idioma nativo.</strong></p>
                <p>E indicadores de aciertos y errores.</p>
            </details>
            <details class="howToUse--disponibility-actions">
                <summary>
                    <h3>Acciones disponibles</h3>
                </summary>
                <ul>
                    <li><span class="actions--text">Cambio de idioma inglés/español</span> <span class="icon-earth"></span></li>
                    <li><span class="actions--text">Añadir Kit</span> <span class="icon-plus"></span></li>
                    <li><span class="actions--text">Acciones sobre Kits</span> <span class="icon-wrench"></span></li>
                    <li><span class="actions--text">Reordenar aleatoriamente las tarjetas</span> <span class="icon-shuffle"></span></li>
                    <li><span class="actions--text">Ver palabra nativa asociada</span> <span class="icon-eye"></span></li>
                    <li><span class="actions--text">Cargar nueva imagen de referencia</span> <span class="icon-loop2"></span></li>
                    <li><span class="actions--text">Enviar respuesta (palabra nativa asociada)</span> <span class="icon-compass"></span></li>
                </ul>
            </details>
        </section>
    </section>
</dialog>