<dialog class="modal logIn__modal">
    <button class="modal__button--close">
        X
    </button>
    <section class="modal__content">
        <section class="modal__content__title">
            <span class="icon-enter"></span> Iniciar Sesión
        </section>
        <section class="modal__content__description">
            <div class="form__error-box"></div>
            <form id="form__login" action="" method="post">
                {% csrf_token %}
                {% for field in login_form %}
                    <div class="field__group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </form>
            
            <div class="button__container">
                <button type="submit" form="form__login" class="">Iniciar sesión</button>
            </div>
        </section>
    </section>
</dialog>  