<div class="burger-button__content">
    <button class="icon-menu3"></button>
</div>

{% if request.user.is_authenticated and is_index %}
    <div class="add-button__content">
        <button class="icon-plus addKit__button--show-dialog dialog__button"></button>
    </div>
    {% if kits %}
        <div class="sidebar-button__content">
            <button class="icon-wrench"></button>
        </div>
    {% endif %}
{% endif %}

{% if is_kit %}
    <div class="home__content">
        <a class="icon-home3" href="{% url 'index' %}"></a>
    </div>
    <div class="randomize-button__content">
        <button class="icon-shuffle"></button>
    </div>
{% endif %}


<nav id="principal__menu">
    <ul>
        {% if not request.user.is_authenticated %}
            <li class="signup-navbar__li">
                <button class="signUp__button--show-dialog dialog__button">
                    Registrarse
                </button>
            </li>
            <li class="login-navbar__li">
                <button class="logIn__button--show-dialog dialog__button">
                    Iniciar Sesión
                </button>
            </li>
        {% else %}
            <li class="user-navbar__li">
                <span class="icon-user"></span>&nbsp;
                <span class="{% if request.user.username == "Invitados" %}username__guests{% endif %}">{{ user.username }}</span>
                <ul class="user-navbar__li--options">
                    <li class="logout__li">
                        <a href="{% url 'logout' %}?next={% url 'index' %}&lang=es">Cerrar Sesión</a>
                    </li>
                </ul>
            </li>
            <li class="kit-navbar__li">
                <span class="icon-stack"></span>&nbsp;Kits
                <ul class="kit-navbar__li--options">
                    {% for kit in kits %}
                        <li class="kit__li">
                            <a href="{% url 'kit:kit' kit.name %}">{{ kit.name }}</a>
                        </li>
                    {% empty %}
                        <li class="kit__li kit__li--without-cards">
                            Sin kits de aprendizaje por el momento
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>

<div class="gadgets__content">
    <button class="icon-earth"></button>
    <span class="lang-option__text lang-option__en">EN</span>
    <span class="lang-option__text  lang-option__es lang-option__text--selected">ES</span>
</div>