{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <section class="main__content main__content__kit">
        <section class="kit__info">
            <h2 class="title__languages">{{ kit.name }} </h2>
            <span>
                {{ kit.foreign_language }} → {{ kit.native_language }}
            </span>
            <h3 class="kit__info__progress">Progreso de 0-100</h3>
            <span class="kit__info__progress--value">{{ kit.successful }}</span>
        </section>

        <section class="kit__pagination--input-page">
            <span>N° Página:&nbsp;</span>
            <input type="number" list="kit-pages__datalist" min="1" max="{{ total_pages }}">
        </section>
        <section class="kit__pagination">
            {% if has_previous_page %}
                <a href="{% url 'kit:kit' kit.name %}?page={{ request.GET.page | add:"-1" }}" class="kit__pagination--row kit__pagination--prev-page">❮</a>
            {% endif %}
            {% if has_next_page %}
                <a href="{% url 'kit:kit' kit.name %}?page={{ request.GET.page | default:"1" | add:"1" }}" class="kit__pagination--row kit__pagination--next-page">❯</a>
            {% endif %}
        </section>

        <section class="main__content__cards">
            {% for card in cards %}
                <article class="card__content" id="card-{{ card.id }}">
                    <div class="card__content__foreign-word">
                        <h3>
                            {{ card.foreign_word }}
                        </h3>
                        <button class="icon-eye">

                        </button>
                    </div>
                    <div class="card__content__img">
                        <div class="card__state icon-wondering2"></div>
                        <button class="card--renew-img">
                            <span class="icon-loop2"></span>
                        </button>
                        <img src="{{ card.img }}" alt="{{ card.foreign_word }}" loading="lazy">
                    </div>
                    <div class="card__content__score">
                        <span class="card__content__score--hits">
                            <span class="card__content__score--hits-text">Aciertos</span>
                            <span class="card__content__score--hits-value">
                                <span>{{ card.hits }}</span>
                            </span>
                        </span>
                        <span class="card__content__score--mistakes">
                            <span class="card__content__score--mistakes-text">Errores</span>
                            <span class="card__content__score--mistakes-value">
                                <span>{{ card.mistakes }}</span>
                            </span>
                        </span>
                    </div>
                    <div class="card__content__check">
                        <form class="form__validate-word">
                            {% for field in validateWord__form %}
                                    {{ field }}
                            {% endfor %}
                            <input type="hidden" name="lc-lang">
                            <button class="validate-word__final-button icon-compass"></button>
                        </form>
                    </div>
                </article>
            {% empty %}
                <p class="kit-empty">Kit vacio</p>
            {% endfor %}
        </section>

        <section class="kit__pagination--input-page">
            <span>N° Página:&nbsp;</span>
            <input type="number" list="kit-pages__datalist" min="1" max="{{ total_pages }}">
        </section>
        <section class="kit__pagination">
            {% if has_previous_page %}
                <a href="{% url 'kit:kit' kit.name %}?page={{ request.GET.page | add:"-1" }}" class="kit__pagination--prev-page">❮</a>
            {% endif %}
            {% if has_next_page %}
                <a href="{% url 'kit:kit' kit.name %}?page={{ request.GET.page | default:"1" | add:"1" }}" class="kit__pagination--next-page">❯</a>
            {% endif %}
        </section>

        <datalist id="kit-pages__datalist"></datalist>
    </section>
{% endblock content %}

{% block scripts %}
    <script>const url_template_translation = "{% url 'templatetranslation:get_translate' request.resolver_match.url_name %}";</script>
    <script>
        const url_showNativeWord = "{% url 'card:show_native_word' kit.name %}";
        const url_replaceImg = "{% url 'card:replace_img' kit.name %}";
        const url_validateWord = "{% url 'card:check_answer' kit.name %}";
        const url_randomizeKit = "{% url 'kit:randomize_kit' kit.name %}";
        {% comment %} history.pushState(null, '', '?page=3'); {% endcomment %}

        const numPages = {{ total_pages }};
    </script>
    <script src="{% static 'js/cards-actions.js' %}" async></script>
    <script src="{% static 'js/paginator-interactive.js' %}" async></script>
{% endblock scripts %}